
#projet_section .section_title{
    color: var(--black_title);
}

#projet_section{
    background-color: var(--light_yellow);
}


#projet_section .emplacement_projet{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width : 100%;
}

#projet_section .unite_projet{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: var(--dark_blue);
    border-radius: 10px;
    border: solid 3px;
    border-color: var(--dark_blue);
    -webkit-filter: drop-shadow(0px 0px 2px var(--black_title));
	filter: drop-shadow(0px 0px 2px var(--black_title));
}

#projet_section .unite_projet:hover{
    -webkit-filter: drop-shadow(0px 0px 7px var(--black_title));
	filter: drop-shadow(0px 0px 7px var(--black_title));
    border: solid 3px;
    border-color: var(--soft_yellow);
}


#projet_section .projet_image{
    width: 100%;
    border-radius: 10px;

}

#projet_section .projet_titre{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: spectral_bold;
    font-size:27px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#projet_section .projet_description{
    text-align: justify;
    text-align: center;
    font-family: spectral_bold;
    color: var(--fade_white);
    font-size:20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#projet_section .projet_date{
    display: flex;
    color: var(--fade_white);
    font-size:15px;
    /* width:43px; */
}

#projet_section .projet_illustration{
    
    margin-top: auto;
}

#projet_section .link
{
    text-align: center;
    margin-right: 5px;
}

