
.side_elements{
    background-color:var(--soft_yellow);
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-left:20px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    border-radius: 10px 10px 0px 0px;
    border: solid 2px;
	border-color: var(--black_title) var(--black_title) var(--soft_yellow) var(--black_title);
}

@media screen and (max-width: 800px){
    .side_elements{
        margin-left:5px;
        bottom: auto;
        top: 50px;
        border-radius: 0px 0px 10px 10px;
        border-color: var(--soft_yellow) var(--black_title) var(--black_title) var(--black_title);

    }
}

.contact_side_img{
	width: 30px;
}

.emplacement_contact_side{
    
    list-style-type:none;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.contact_side_logo{
    margin-bottom:20px;
}